<%= link_to shop_path(shop) do %>
  <p class="infowindow"><%= shop.name %><%= shop.branch %></p>
  <div class="list-shop-point infowindow infowindow-point">
    <span class="point"></span><%= shop.total_point%>
  </div>
<% end %>
