<h1>店舗登録</h1>
<%= form_for @shop do |f| %>
  <div class="">
    <label for="">店舗名</label>
    <%= f.text_field :name %>
  </div>
  <div class="">
    <label for="">最寄駅</label>
    <%= f.text_field :station_name %>駅
  </div>
  <div class="">
    <%= f.submit "登録" %>
  </div>
<% end %>
