<div class="corp-page">
  <div class="corp-title">
    <p>開発者プロフィール</p>
  </div>
  <div class="corp-items">
    <div class="corp-item">
      <p>福田悠吾</p>
      <p>東京理科大学工学部情報工学科在籍</p>
      <p>サーバーサイドエンジニア</p>
    </div>
    <div class="corp-item">
      <p>佐藤貫平</p>
      <p>東京理科大学工学部情報工学科在籍</p>
      <p>フロントエンドエンジニア</p>
    </div>
  </div>
</div>





