<div class="top-page">
  <div class="main-window">
    <div class="page-title">
      <h1>お店を探す</h1>
    </div>
    <div class="search-box">
        <%= link_to "店名・駅名から探す", shops_path , class:"select-circle select-station"%>
        <button onclick="getPosition();", class="select-circle select-map">位置情報から探す</button>
    </div>
    <script>

      // 現在地取得処理
      function getPosition() {
        // 現在地を取得
        navigator.geolocation.getCurrentPosition(
          // 取得成功した場合
          function(position) {
              window.location.href = "/shops/places?latitude="+position.coords.latitude+"&longitude="+position.coords.longitude
          },
          // 取得失敗した場合
          function(error) {
            switch(error.code) {
              case 1: //PERMISSION_DENIED
                alert("位置情報の利用が許可されていません");
                break;
              case 2: //POSITION_UNAVAILABLE
                alert("現在位置が取得できませんでした");
                break;
              case 3: //TIMEOUT
                alert("タイムアウトになりました");
                break;
              default:
                alert("その他のエラー(エラーコード:"+error.code+")");
                break;
            }
          }
        );
      }
    </script>
    <a href="#about">
      <div class="about-link">
        <h2>Kissaとは</h2>
        <h2>Click</h2>
      </div>
    </a>
  </div>
  <div class="about-page">
    <div class="article-1">
      <div class="article-image">
      </div>
      <h3 class="title title-k">K</h3>
    <a name="about"></a>
      <div class="article-space">
      </div>
      <h3 class="title title-i">i</h3>
      <h3 class="title title-s-1">s</h3>
      <h3 class="title title-s-2">s</h3>
      <h3 class="title title-a">a</h3>
      <div class="article-1-1">
        <p>人気のカフェを、見つけるアプリ。</p>
      </div>
      <div class="article-space">
      </div>
    </div>
    <div class="article-2">
      <div class="article-image">
      </div>
      <div class="article-2-nologin">
        <div class="touch-click-back">
          <p>Touch</p>
        </div>
        <div class="article-2-nologin-info">
          <div class="article-2-nologin-info-title">
            <h4>ログインせずに使える機能</h4>
          </div>
          <div class="article-2-nologin-info-list">
            <div class="article-2-nologin-info-list-item">
              <h5>1. 店名、駅名からカフェを探す</h5>
              <p>キーワードを入力し検索すれば、<br>世界中の人たちが見つけたカフェから最適なお店を探し出すことができます。</p>
            </div>
            <div class="article-2-nologin-info-list-item">
              <h5>2. 位置情報からカフェを探す</h5>
              <p>Kissaがあなたの現在地を取得し、お近くの最適なカフェをすぐに見つけ出します。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="article-2-login">
        <div class="touch-click-back">
          <p>Touch</p>
        </div>
        <div class="article-2-login-info">
          <div class="article-2-login-info-title">
            <h4>ログインしたら使える機能</h4>
          </div>
          <div class="article-2-login-info-list">
            <div class="article-2-login-info-list-item">
              <h5>1. カフェのレビューを投稿</h5>
              <p>気に入ったカフェをレビューして、世界中の人たちに教えてあげることができます。</p>
            </div>
            <div class="article-2-login-info-list-item">
              <h5>2. 新しいカフェの登録</h5>
              <p>まだ誰も知らない隠れ家カフェを見つけて、パイオニアになりましょう。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="article-space">
      </div>
    </div>
    <div class="article-3">
      <div class="article-3-top">
        <div class="article-3-top-space">
        </div>
        <div class="article-3-top-text">
          <h6>今日のカフェを<br>見つけよう。</h6>
        </div>
        <div class="article-3-top-picture">
          <div class="article-3-top-picture-left">
            <div class="article-3-top-picture-left-top">
            </div>
          </div>
          <div class="article-3-top-picture-right">
          </div>
        </div>
      </div>
      <div class="article-3-bottom">
        <%= link_to shops_path, class:"article-3-bottom-link" do %>
          <p>店名・駅名から探す</p>
        <% end %>
        <%= link_to shops_places_path, class:"article-3-bottom-link" do %>
          <p>位置情報から探す</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
