<div class="main-window">
  <div class="search-box">
      <%= link_to "駅名・店名から探す", shops_path , class:"select-circle"%>
      <a href="" , class="select-circle">位置情報から探す</a>
  </div>
  <div class="">
    <%= link_to "CafeLogとは", about_path %>
  </div>
</div>
