<div class="main-window">
  <div class="page-title">
    <h1>店舗検索</h1>
  </div>
  <div class="search-box">
      <%= link_to "駅名・店名から探す", shops_path , class:"select-circle"%>
      <a href="" , class="select-circle">位置情報から探す</a>
  </div>
</div>
<div class="about-title">
  <h2>CaféLogとは</h2>
</div>
