/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: beige;
    font-family: 'TsukuARdGothic-Regular','ヒラギノ角ゴシック','Hiragino Sans',YuGothic,'Yu Gothic',sans-serif;
    font-size: 15px;
}
body{
    background-color: rgb(189, 144, 112);
}
h3{
    font-size: 30px;
    margin: 20px 0;
}
header{
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 60px;
    width: 100%;
    height: 120px;
    background-color: rgba(189, 144, 112, 0);
}
header h1{
    display: inline-block;
    line-height: 114px;
}
header .title{
    font-size: 30px;
}
header ul{
    float: right;
    line-height: 120px;
}
li{
    display: inline-block;
    padding: 0 10px;
}
a{
    text-decoration: none;
}
header a{
    transition: 0.5s;
}
header a:hover{
    opacity: 0.7;
}
.container{
    margin: 120px 50px 0 50px;
}
.narrow-window{
    width: 700px;
    margin: 0 auto;
    .search-area{
        padding: 0 100px;
    }
}
.flash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 0;
    text-align: center;
    color: beige;
    background: rgba(0, 0, 0, 0.5);
    animation-duration: 5s;
    animation-name: slide-in-out;
    animation-fill-mode: forwards;
}
@keyframes slide-in-out{
    from{
        top: -37px;
    }
    10%{
        top: 0;
    }
    90%{
        top: 0;
    }
    to{
        top: -37px;
    }
}
.page-title{
    margin-bottom: 60px;
    text-align: center;
}
.page-title h1{
    display: inline;
    padding-bottom: 10px;
    font-size: 50px;
    border-bottom: solid 1px beige;
}
.input-form-box{
    margin: 0 auto;
    padding: 80px 0;
    width: 358px;
}
.input-form-box h2{
    margin: 0 auto;
    width: 100px;
    font-size: 25px;
}
.input-forms{
    padding: 20px;
    border: solid 5px;
}
.input-form{
    padding: 0 10px;
    width: 100%;
    height: 40px;
    background-color: white;
    color: black;
    border: none;
}
.input-area{
  padding: 0 10px;
  width: 100%;
  height: 120px;
  background-color: white;
  color: black;
  border: none;
}
.field{
    margin: 40px 0;
}
.search-field{
    .input-form{
        width: 400px;
    }
    .btn-sticky{
        height: 38px;
        margin-left: 7px;
        border: solid 1px white;
    }
}
.candidate-lists{
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 10px;
}
.candidate-list{
    display: block;
    width: 480px;
    height: 100px;
    padding: 2px 5px;
    border: solid 1px white;
    margin-bottom: 10px;
    // border-top: none;
    .list-shop-point{
        width: 40px;
        float: right;
        .point::before{
            font-family: "Font Awesome 5 Free";
            content: '\f005';
            font-weight: 900;
        }
    }
}
.candidate-list:hover{
    background-color: rgba(218, 165, 32, 0.6);
}
.actions{
    margin: 10px;
}
.btn-sticky{
    height: 30px;
    width: 70px;
    box-shadow: 0px 2px;
    background-color: rgb(189, 144, 112);
}
.btn-sticky:hover{
    box-shadow: 0px 0px;
    transform: translateY(2px);
}
.links{
    margin-top: 40px;
    border-top: 10px;
}
.field_with_errors{
    display: inline;
}
.edit-picture{
    padding-top: 10px;
}
