// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-window{
    text-align: center;
    height: calc(100vh - 120px);
}
.search-box{
    display: inline-block;
}
.select-circle{
    display: inline-block;
    height: 430px;
    width: 430px;
    background-color: goldenrod;
    border-radius: 200px;
    text-align: center;
    margin: 80px 80px 0 80px;
    font-size: 40px;
    line-height: 400px;
    transition: 1s;
}
.select-circle:hover{
    height: 480px;
    width: 480px;
}
.about-title{
    transform: translateY(-50px);
}
.about-title h2{
    text-align: center;
    font-size: 30px;
}
