// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-window{
    text-align: center;
    height: calc(100vh - 120px);
}
.search-box{
    display: inline-block;
}
.select-circle{
    display: inline-block;
    position: relative;
    height: 430px;
    width: 430px;
    background-color: goldenrod;
    border-radius: 200px;
    text-align: center;
    margin: 0 80px;
    font-size: 40px;
    line-height: 400px;
    transition: 1s;
}
.select-circle:hover{
    height: 480px;
    width: 480px;
}
.select-circle::after{
    white-space: pre;
    position: absolute;
    line-height: 1.7;
    top: 280px;
    left: 100px;
    width: 420px;
    font-size: 15px;
    text-align: left;
    opacity: 0;
    transition: 0.5s;
}
.select-circle:hover::after{
    opacity: 1;
}
.select-station::after{
    content: "店名や駅名から検索し、\Aマッチするカフェをリストアップします。";
}
.select-map::after{
    content: "現在地の近くにあるカフェを探し、\Aマップで表示します。";
}
.about-link{
    transform: translateY(-50px);
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border-radius: 100px;
    background-color: goldenrod;
    h2{
        text-align: center;
        font-size: 30px;
    }
}
.about-link:hover{

}