// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.shops-new-page{
    .input-form-box{
        width: 500px;
    }
    .input-forms{
        padding: 40px;
    }
}
.shop-info-page{
    .shop-main-info{
        margin: 70px 0;
        text-align: center;
        h2{
            font-size: 40px;
        }
        .star{
            display: inline;
        }
        .star-number{
            display: inline;
        }
    }
    .shop-imgs{
        display: inline-block;
        width: 50%;
        text-align: center;
    }
    .shop-info-details{
        display: inline-block;
        vertical-align: top;
        width: 40%;
        .table-line{
            margin: 20px;
        }
        .table-left{
            display: inline-block;
            width: 100px;
        }
        .table-center{
            display: inline-block;
            width: 50px;
        }
        .table-right{
            display: inline-block;
        }
        .shop-edit-name{
            float: right;
        }
        .written-name{
            font-size: 20px;
            font-weight: bold;
        }
    }
    a{
        transition: 1s;
    }
    a:hover{
        opacity: 0.7;
    }
}