// Place all the styles related to the shop_images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixin";
.image-edit-page {
  margin: 0 80px;
  @include tablet {
    margin: 0 30px;
  }
  .image-new {
    margin: 50px 0;
    text-align: center;
    label {
      display: inline-block;
      width: 150px;
      padding: 10px 0;
      font-size: 20px;
      text-align: center;
      vertical-align: bottom;
      @include tablet {
        display: none;
      }
    }
    .image-select {
      padding: 20px;
      margin: 0 30px;
      border-bottom: 1px solid beige;
      @include tablet {
        width: 80%;
      }
    }
    .btn-sticky {
      margin: 20px 0;
    }
  }
  .shop-images {
    padding: 50px 0;
    border-top: 1px solid beige;
    .shop-image {
      display: inline-block;
      position: relative;
      height: 150px;
      margin: 10px;
      @include tablet {
        height: 80px;
        margin: 4px;
      }
      img {
        height: 100%;
      }
      a {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50px;
        height: 30px;
        background-color: brown;
        text-align: center;
        line-height: 30px;
        &:hover {
          width: 55px;
          height: 33px;
        }
      }
    }
  }
}
