// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.shop-search-page{
    .input-form{
        width: 600px;
    }
    .search-field{
        #q_sorts{
            color: black;
            padding: 2px;
        }
        .btn-sticky{
            height: 38px;
            width: 90px;
            border: solid 1px white;
        }
    }
    .candidate-lists{
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .candidate-list{
        display: block;
        height: 120px;
        padding: 12px 10px;
        margin-bottom: 10px;
        border: solid 1px white;
        .list-img{
            border: 3px solid beige;
            vertical-align: top;
            :hover{
                filter: blur(6px);
            }
        }
        .shop-infos{
            display: inline-block;
            padding-left: 20px;
            .shop-name{
                margin-bottom: 10px;
                p{
                    font-size: 20px;
                }
            }
            .list-shop-point{
                .point::before{
                    font-family: "Font Awesome 5 Free";
                    content: '\f005';
                    font-weight: 900;
                }
            }
        }
    }
    .candidate-list:hover{
        background-color: rgba(218, 165, 32, 0.6);
    }    
}
.shops-new-page{
    .input-form-box{
        width: 500px;
    }
    .input-forms{
        padding: 40px;
    }
}
.shop-info-page{
    margin-bottom: 200px;
    .shop-main-info{
        margin: 70px 100px;
        padding: 20px;
        border-top: 1px solid;
        border-bottom: 1px solid;
        text-align: center;
        h2{
            font-size: 40px;
        }
        .star{
            display: inline;
            vertical-align: top;
            line-height: 30px;
        }
        .star-number{
            display: inline;
        }
    }
    .shop-imgs{
        display: inline-block;
        width: 50%;
        text-align: center;
    }
    .shop-info-details{
        display: inline-block;
        vertical-align: top;
        width: 40%;
        .table-line{
            margin: 20px;
        }
        .table-left{
            display: inline-block;
            width: 100px;
        }
        .table-center{
            display: inline-block;
            width: 50px;
        }
        .table-right{
            display: inline-block;
            p{
                display: inline-block;
            }
            .star{
                display: inline-block;
                vertical-align: top;
                line-height: 30px;
            }
        }
        .shop-edit-name{
            display: block;
            margin-right: 30px;
            text-align: right;
            .written-name{
                font-size: 20px;
                font-weight: bold;
            }
        }
        .shop-place{
            h3{
                font-size: 35px;
                border-bottom: 1px solid rgba(245, 245, 220, 0.5);
            }
            p{
                padding: 0 20px;
            }
            .google-map{
                margin-top: 20px;
                padding: 0 20px;
                *{
                    color: #333333;
                }
            }
        }
        .reviews-list{
            margin: 50px 0;
            h3{
                font-size: 35px;
                border-bottom: 1px solid rgba(245, 245, 220, 0.5);
            }
            .review{
                padding: 20px;
                border: 1px solid;
                .review-name{
                    display: inline-block;
                    h4{
                        font-size: 20px;
                    }
                }
                .star{
                    display: inline-block;
                }
                .review-total-point{
                    display: inline-block;
                    vertical-align: top;
                    line-height: 30px;
                }
                .review-point-details{
                    padding-bottom: 5px;
                    .point-left{
                        display: inline-block;
                        width: 80px;
                    }
                    .point-center{
                        display: inline-block;
                    }
                    .point-right{
                        display: inline-block;
                    }
                }
                .review-text{
                    padding-top: 5px;
                    border-top: 1px solid rgba(245, 245, 220, 0.363);
                }
            }
        }
    }
    a{
        transition: 0.5s;
    }
    a:hover{
        opacity: 0.7;
    }
}
#head_img_prev {
  width: 100px;
  height: 75px;
}
.infowindow {
  color: black;
}
.infowindow-point {
  text-align: center;
}
#map {
  span {
    color: black;
  }
  .point::before{
      font-family: "Font Awesome 5 Free";
      content: '\f005';
      font-weight: 900;
  }
}
